@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.text-outline {
  text-shadow: 
    2px 2px 0 rgba(0, 0, 0, 2),   /* Black outline */
    -2px -2px 0 rgba(0, 0, 0, 2),
    2px -2px 0 rgba(0, 0, 0, 2),
    -2px 2px 0 rgba(0, 0, 0, 2);
}